* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
  background: linear-gradient(120deg,#ff8c00 ,#000000, #ff8c00);
  background-size: 300% 300%;
  animation: moveGradient 8s ease infinite;
  text-align: center;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {    
    background-position: 0% 50%;
  }
}

h1 {
  background: linear-gradient(120deg, #000000, #ff8c00, #000000);
  background-size: 300% 300%;
  animation: moveGradient 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  max-width: 992px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #1f1f1f;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .content {
    margin: 1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}